body {
  margin: 0;
}
body header {
  width: 100%;
  height: 100px;
  margin-top: 100px;
}
body header .logo {
  margin: 0 auto;
  width: 50%;
  display: block;
  text-align: center;
  margin-top: 20px;
}
body header p {
  margin: 0;
}
body .category ul {
  float: right;
  display: inline-block;
  margin: 0;
  margin-right: 10%;
  margin-top: 1px;
  height: 100%;
  list-style-type: none;
  text-align: left;
}
body .category ul li {
  padding: 5px 10px;
  padding-right: 90px;
  border: 1px solid;
  cursor: pointer;
}
body .category ul li:hover {
  background-color: #EDE4E4;
}
body .category ul li span {
  display: block;
  font: 12pt;
  color: #11A3D4;
}
body content {
  display: block;
  margin: 0 auto;
  width: 50%;
  margin-top: 100px;
}
body content ul {
  width: 100%;
  margin: 0;
  display: inline-block;
  text-align: center;
  padding: 0;
}
body content ul li {
  width: 22%;
  display: inline-block;
  padding: 20px;
  vertical-align: top;
  text-align: left;
}
body content ul li a {
  text-decoration: none;
  color: black;
}
body content ul li a span {
  display: block;
  width: 100%;
  cursor: pointer;
}
body content ul li a span:hover {
  text-decoration: underline;
}
body content ul li img {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
body content #buttonPre {
  float: left;
  margin-left: 20%;
  width: 80px;
  height: 40px;
  background-color: #fff;
  border: 1px solid black;
  cursor: pointer;
}
body content #buttonNext {
  float: right;
  margin-right: 20%;
  width: 80px;
  height: 40px;
  background-color: #fff;
  border: 1px solid black;
  cursor: pointer;
}
body .detail {
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
}
body .detail img {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}
body .detail div {
  padding: 0 20px;
  font-size: 14pt;
}
@media (max-width: 1368px) {
  body header {
    margin-top: 0px;
  }
  body .category ul {
    margin-right: 2%;
  }
  body content {
    width: 701px;
    margin-top: 20px;
  }
  body content ul li {
    padding: 31px;
  }
}
