body {
    margin: 0;
    header {
        width: 100%;
        height: 100px;
        margin-top: 100px;
         

         .logo {
            margin: 0 auto;
            width: 50%;
            display: block;
            text-align: center;
            margin-top: 20px;
         }

         p {
             margin: 0;
         }
    }

    .category {
         ul {
             float: right;
             display: inline-block;
             margin: 0;
             margin-right: 10%;
             margin-top: 1px;
             height: 100%;
             list-style-type: none;
             text-align: left;
            

             li {
                 padding: 5px 10px;
                 padding-right: 90px; 
                 border:1px solid;
                 cursor:pointer;

                 &:hover {
                     background-color: #EDE4E4;
                 }
                 span {
                     display: block;
                     font: 12pt;
                     color: #11A3D4;
                 }

             }
         }
        
    }

    content{
        display: block;
        margin: 0 auto;
        width: 50%;
        margin-top: 100px;

        ul{
            width: 100%;
            margin: 0;
            display: inline-block;
            text-align: center;
            padding: 0;

            li{
                width: 22%;
                display: inline-block;
                padding: 20px;
                vertical-align: top;
                text-align: left;

                a{
                text-decoration: none;
                color:black;

                    span{
                        display: block;
                        width: 100%;
                        cursor: pointer;

                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                img {
                    display: block;
                    margin: 0 auto;
                    cursor: pointer;
                }
            }
        }

        #buttonPre {
            float: left;
            margin-left: 20%;
            width: 80px;
            height: 40px;
            background-color: #fff;
            border: 1px solid black;
            cursor: pointer;
        }

        #buttonNext {
            float: right;
            margin-right: 20%;
            width: 80px;
            height: 40px;
            background-color: #fff;
            border: 1px solid black;
            cursor: pointer;
        }
    }


    .detail {
        width: 50%;
        margin: 0 auto;
        margin-top: 100px;


        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 50px;
        }
        div{
            padding: 0 20px;
            font-size: 14pt;
        }
    }
}


@media(max-width: 1368px){
    body {
        header {
    margin-top: 0px;
        }

        .category {
                ul {
                    margin-right: 2%;
                }
            }

        content {
            width: 701px;
            margin-top: 20px;
            ul {
                li {
                    padding: 31px;
                }
            }
        }
    }
}