<div class="detail">
    <img src={{active.img}}>
    <div>
        <p>{{active.detail1}}</p>
        <p>{{active.detail2}}</p>
    </div>

    <button ng-click="event.preventDefault(); share.vk();">VK</button>
    <button ng-click="event.preventDefault(); share.facebook();">Facebook</button>
    <button ng-click="event.preventDefault(); share.twitter();">Twitter</button>

    

</div>