
    <div class="category">
        <ul>
            <li ng-repeat="item in category" ng-click="filter(item.name)">
                <span>{{item.name}}</span>
            </li>
        </ul>
    </div>
    <content>
        <ul>
        <li ng-repeat="page in news |Filter:currentFrom| limitTo:itemsPerPage:currentPage as result">
            <a href="#/news/{{page.id}}"><img src={{page.img}}></a>
            <a href="#/news/{{page.id}}"><span>{{page.title}}</span></a>
            <p>{{page.details}}</p>
        </li>
    </ul>
    
    <button ng-disabled="currentPage===0" ng-click="pageBack()" id="buttonPre">Previous</button>
    <button ng-disabled="result.length < itemsPerPage" ng-click="pageForward()"" id="buttonNext">Next</button>
    </content>